.online:before {
  content: ' \25CF';
  font-size: 12px;
  color: #04c904;
  padding-right: 10px;
  /* animation: blinker 3s ease-in-out infinite; */
}

.offline:before {
  content: ' \25CF';
  font-size: 12px;
  color: #f72d2d;
  padding-right: 10px;
  /* animation: blinker 3s ease-in-out infinite; */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}